

body{
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
ul{
  list-style: none 
}
.btn{
  font: inherit;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.page-navigation{
  padding: 0;
  margin: 0; 

}

.navigation-list{
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px; 
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}

.navigation-list li{
  width: 239px;
  text-align: center;
}

.left-block-navigation{
  display: flex;
  justify-content: space-between;
}

.right-block-navigation{
  display: flex;
  justify-content: space-between;
}

.logo{
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 0px;
}

.page-navigation a{
  font-weight: 700;
  color: #000000;
}
.page-navigation a:hover, .page-navigation a:focus{
  color: #81b3d2;
}
.page-navigation a:active{
  color: #000000;
  opacity: 0.3;
}

.promo{
  margin-bottom: 56px;
}

.promo-welcome{
  background: url("../img/welcome.jpg");
  width: 1200px;
  height: 508px;
}
.advantages{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages ul{
  padding: 0;
  margin: 0;
}

.advantages b{
  font-size: 21px;
  font-weight: 700;
  margin: 0px 350px 35px;
}
.advantages p{
  color: #333333;
}

.advantage-item-photo img{
  display: block;
}

.advantages-row{
  display: flex;
}

.advantages-row-1 p,
.advantages-row-3 p{
  color: #f2f2f2;
}

.advantages-row-1 .advantages-item,
.advantages-row-3 .advantages-item{
  background-color: #81b3d2;
  color: #f2f2f2;
}


.advantages-row-1 .advantages-item span,
.advantages-row-3 .advantages-item span{
text-align: center;
}

.advantages-row ul{
  display: flex;
}

.advantages-item{
  width: 280px;
  padding: 55px 60px;
}

/* Костыль, потому что не могу понять, почему вылезает снизу кусок */

.advantages-row-3 .advantages-item{
  padding-bottom: 51px; 
}

.advantages-item h3{
  font-size: 21px;
  line-height: 21px;
}

.user-search{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.user-search b{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  margin-bottom: 10px;
}
.user-search p{
  color: #333333;
  margin-bottom: 21px;
}

.user-search p:only-of-type{
  text-align: center;
}
.user-search input{
  margin-bottom: 30px;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}
.search-hotel-btn{
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  padding-top: 32px;
  padding-bottom: 31px;
  padding-left: 145px;
  padding-right: 145px;
}

.user-search form{
  padding: 55px;
}

.user-search .search-btn{
  font-size: 21px;
  line-height: 26px;
  padding: 18px 196px 19px;
}

.page-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hashtag{
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-left: 132px;
}

.socials{
  display: flex;
  justify-content: space-between;
}

.social-link{
  margin-right: 7px;
}

.socials:last-child{
  margin-right: 0px;
}


.socials .social-link{
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}
.watermark{
  color: #000000;
  margin-right: 101px;
}
body .inner{
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.main-navigation .current{
  color:#766357;
}

.filter-form form{
  display: flex;
  padding-top: 30px;
  padding-bottom: 32px;
}

.filter-form form fieldset:first-child{
  margin-right: 115px;  
}

.filter-form form fieldset:last-child{
  margin-left: auto; 
}

fieldset{
  border: none;
  padding: 0;
  margin: 0;
}
.filter-form {
  color: #ffffff;
  background-color: #5182aa;
}
.filter-form legend{
  font-weight: 700;
  font-size: 16px;
}
.filter-form .submit-btn{
  background-color: unset;
  border: solid 2px #ffffff;
}

.filter-form,
.hotels{
  padding-left: 72px;
  padding-right: 72px;
}


.sort-box{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5; 

}
.filter-result{
  margin-right: 49px;
}

.sort{
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 400px;
  justify-content: space-between;
  align-items: center;
}

.sort p{
  display:block;
  margin-right: 40px;
  text-align: left;
}

.sort ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.sort li{
  margin-right: 33px;  
}

.sort li:last-child{
  margin-right: 0;
}

.sort-box .filter-result{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.sort-box .sort p{
  font-size: 12px;
  line-height: 18px;
}
.sort-link{
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-style: dotted;
  opacity: 0.3;
  text-decoration-color: #81b3d2;
}
.sort .current-sort{
  text-decoration: none;
  color: #81b3d2;
  opacity: 1;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.sort-icons{
  display: flex;
  align-self: center;
}

.sort-icons a:first-child{
  margin-right: 12px;
}

.hotels-item{
  justify-content: flex-start;
  display: flex;
  padding: 30px 0 30px;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-item h3{
  padding: 0;
  margin: 0;
}

/* Тут во второмблоке кнопка наезжала, тоже костыль */
.hotel-tittle{
  padding: 0;
  margin: 0;
  width: 100%;
}
.hotels-item-info{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  width: 350px;
}

.hotels-item .hotel-photo{
  margin-right: 32px;
}

.hotels-item .left-col{
  margin-right: 6px;
}

.hotels ul{
  padding: 0;
  margin: 0;
}
.hotels-item .hotel-tittle{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.hotels-item p{
  color: #333333;
}

.rating{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: space-between;
}

.stars-row{
  display: flex;
}

.rating-value{
  align-content: flex-start
}


.more-btn{
  color: #ffffff;
  background-color: #81b3d2;
}
.reserve-btn{
  color: #ffffff;
  background-color: #766357;
}

.more-btn,
.reserve-btn{
  padding: 6px 17px
}

.rating-value{
  display: inline-block;
  color: #666666;
  background-color: #f2f2f2;
}





